# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
backend/node_modules
frontend/node_modules
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
frontend/build/

# Ignore all PDFs except the final resume
*.pdf
!frontend/public/Alekah_Seivwright_Resume.pdf

# misc
.DS_Store
Thumbs.db
desktop.ini
.cursor/
.env
backend/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
